<!-- footer -->
<div style="height: 65px; width: 100%;"></div>
<footer id="aa-footer">      
    <!-- footer-bottom -->
  <!--  <div class="aa-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-bottom-area">
                        <p>Developed by Aleksa Lazarevic</p>
                        <div class="aa-footer-payment">
                            <p style="color: #888;"> kurs Infrastruktura za elektronsko poslovanje | Elektrotehnički fakultet, univerziteta u Beogradu, odsek za softversko inženjerstvo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  -->  
</footer>
<!-- / footer -->

