<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webaukcije.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webaukcije.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webaukcije</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$webaukcije</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=dm130240d.database.windows.net;Initial Catalog=Aukcija;Persist Security Info=True;User ID=dm130240d;Password=MadafakA1994;Application Name=EntityFramework" Name="Data Source=dm130240d.database.windows.net;Initial Catalog=Aukcija;Persist Security Info=True;User ID=dm130240d;Password=MadafakA1994;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Veb_portal_za_aukcijsku_prodaju.Models.ApplicationDbContext, Veb portal za aukcijsku prodaju" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IEPVebAukcijaEntities4" Order="2" Enabled="False">
          <Destination Path="Data Source=dm130240d.database.windows.net;Initial Catalog=Aukcija;Persist Security Info=True;User ID=dm130240d;Password=MadafakA1994;Application Name=EntityFramework" Name="Data Source=dm130240d.database.windows.net;Initial Catalog=Aukcija;Persist Security Info=True;User ID=dm130240d;Password=MadafakA1994;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Veb_portal_za_aukcijsku_prodaju.Models.IEPVebAukcijaEntities4, Veb portal za aukcijsku prodaju" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IEPVebAukcijaEntities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.WebPortalDBModel.csdl|res://*/Models.WebPortalDBModel.ssdl|res://*/Models.WebPortalDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=dm130240d.database.windows.net;Initial Catalog=Aukcija;Persist Security Info=True;User ID=dm130240d;Password=MadafakA1994;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=dm130240d.database.windows.net;Initial Catalog=Aukcija;Persist Security Info=True;User ID=dm130240d;Password=MadafakA1994;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>